.btn {
  border: unset;
  padding: 1rem 3rem;
  border-radius: 1.2rem;
}

.p-steps-item:before {
  content: " ";
  border-bottom: 2px solid #FFA3A3;
  width: 70%;
  top: 66%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
}

.p-menuitem-link{
  z-index:11;
}
.p-steps-number{
  border:0;
}

.btn-success {
  background-color: var(--green-3)
}

.btn-danger {
  background-color: var(--red-2)
}

.p-datatable-wrapper {
  background-color: #E7EBEF;
}

.p-row-even > td ,.p-row-odd>td{
  text-align:right;
  border: 1px solid white;
}

.p-datatable-thead > tr > th {
  //background-color: transparent;
  border: 1px solid white;
  background-color:#acb0d7;
  color:#ffffff;
}

.p-row-even {
  background-color: #E7EBEF;
}

.Toastify__toast-body {
  font-family: 'iranSans';
}

.p-accordion-header-text {
  font-family: 'iranSans';
}

.p-component.p-inputtext::placeholder {
  font-size: var(--font-0-8);
}

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  display: none;
}

.p-dropdown .p-dropdown-clear-icon {
  color: #6b7280;
  right: unset;
  left: 3rem;
}

.p-component, .p-inputtext {
  font-family: 'iranSans';
}

.p-autocomplete {
  display: flex;
}

.p-autocomplete-input {
  width: 100%;
}

.p-progressbar-determinate {
  border: 0 none;
  margin: 0;
  background-image: linear-gradient(to left, var(--red-1), var(--blue-3));
  display: flex;
  height: 15px;
  flex-direction: row-reverse;
}

.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: var(--gray-3);
}

.p-progressbar .p-progressbar-label {
  color: #000000;
  line-height: 1.5rem;
}


.base-desc {
  background-color: red;
}

.base-desc::after {
  background-color: var(--orange-3);
}

// input

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  padding: .75rem;
  white-space: normal;
}

.select {
  .p-dropdown .p-dropdown-trigger {
    display: none;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: unset;
  }
}

.select .p-dropdown-panel.p-component {
  border: initial;
  border-radius: 0.75rem;
}

.select .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0 none;
  color: white;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-button.p-button-outlined {
  background-color: transparent;
  color: transparent;
  border: 1px solid;
}

// tabs
.tabs {
  margin-top: 25px;

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0 1.25rem;
    z-index: 1000;
  }

  .p-tabview .p-tabview-nav {
    border: none;
    position: relative;
    margin-top: 0;
    z-index: 100;

  }

  .p-tabview-header {
    position: relative;
  }

  .p-tabview-nav-content, .p-tabview-panels, .p-tabview-nav, .p-tabview-nav-link {
    background-color: var(--gray-3);
    padding-top: 0.8rem;
  }

  .p-tabview {
    margin-top: 1rem;
  }

}

.SidebarActive {
  right: -300px;
}

.SidebarNotActive {
  right: 0;
}

.sidebar-wrapper {
  width: 248px;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow-y: auto;
  background-color: #fff;
  bottom: 0;
  transition: right 1s ease-out;
  padding-right: 1rem !important;
  padding-top: 1.2rem !important;
  border-radius: 50px 0 0 50px;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, .10);
  z-index: 10000;
}

//PanelMenu
.PanelMenu {

  .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    border: none;
    color: #fff3cd;
    background: #fff;
    border-radius: 6px;
    transition: box-shadow 0.2s;
  }

  ul {
    padding: 0;
  }
}

// modal

svg.p-icon.p-dialog-header-close-icon {
  //color: var(--red-2);
  color: #ffffff
}

.p-dialog {
  border-radius: 2.5rem;

  .p-dialog-header {
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    background: linear-gradient(90deg, #005AA7 0%, #002B4F 34.5%, #002341 64.5%, #005399 100%);
  }
  .p-dialog-title {
    color: #ffffff;
  }

  .p-dialog-header-close {
    color: #ffffff !important;
  }

  .p-dialog-content {
    background: linear-gradient(180deg, #D4E1F5 0%, #8CADE0 100%);
  }

  .p-dialog-content:last-of-type {
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
  }

  .p-dialog-content {
    padding: 0;
    padding-bottom: 2rem;
  }

  .p-dialog-header {
    padding: 1rem;
  }

  .p-dialog-header .p-dialog-header-icon:focus-visible {
    box-shadow: unset;
  }
}

.vue3-circular-progressbar {
  margin: 0.5rem;
  height: 70px !important;
  width: 70px !important;
}

.p-dialog-content {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #949494;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #5cb7e8;
    border-radius: 35px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #5ce8dc;
  }
}

@media screen and (min-width: 100px) and (max-width: 391px) {
  .info-circle {
    display: none;
  }

  .info-box {
    width: 60%
  }
  .f-7 {
    font-size: 0.6rem;
  }

  .f-8 {
    font-size: 0.8rem;
  }

}

.p-input {

  .form-group {
    margin-top: 0.4rem;
  }

}

.box {
  height: 50px;
  width: 50px;
  background-color: var(--green-3);
}

.title .btn {
  padding: 1rem 0;
}

//Toastify
.Toastify__toast-container {
  z-index: 100000
}

// date picker

.vpd-date span {
  color: white;
}

.vpd-day.vpd-selected span {
  color: white;
}


//input password

.p-password-input {
  width: 100%
}

//sidebar

.p-sidebar-visible {
  direction: ltr;
}

.p-sidebar {
  direction: rtl;
}

.p-sidebar-right .p-sidebar {
  //width: 18rem;
  height: 100%;
  //background-color: var(--gray-6);
  color:#ffffff;
}

@media screen and (min-width: 800px) and (max-width: 1150px) {
  .p-sidebar-right .p-sidebar {
    //width: 13rem;
    height: 100%;
  }
}

