:root {
  // colors
  --yellow-1: #FFFDE4;
  --yellow-2: #E9C04E;
  --yellow-3: #F1B52B;
  --orang-1: #FF8000;
  --orang-2: #FFEFC2;
  --orang-3: #FFC35B;
  --orang-4: #FB8D39;
  --orang-5:#FFEFC2;
  --red-1: #F84F60;
  --red-2: #EB4455;
  --pink-1: #F0DEE2;
  --pink-2: #F85974;
  --green-1: #59AB8A;
  --green-2: #85BB33;
  --green-3: #29C285;
  --purple-1:#797B99;
  --blue-1: #EEF8FF;
  --blue-2: #3BA9F2;
  --blue-3: #0064C7;
  --blue-4:#005AA7;
  --blue-5: #73A1AC;
  --blue-6: #CCF2FF;
  --blue-7:#D9ECFF;
  --blue-8:#02457D;
  --gray-1: #CECECE;
  --gray-2: #F2F5F3;
  --gray-3: #F8F8F8;
  --gray-4: #C8C8C8;
  --gray-5: #F8F8F8;
  --gray-6: #E7EBEF;
  --wheat-1: #FFF9E9;
  --black-1: #414141;
  --black-2: #747474;


  // line height
  --l-h-1: 1;
  --l-h-1-2: 1.2;
  --l-h-1-25: 1.25;
  --l-h-1-5: 1.5;
  --l-h-1-75: 1.75;
  --l-h-1-8: 1.8;
  --l-h-2: 2;

  //Fonts Size
  --font-0-5: .5rem;
  --font-0-8: .8rem;
  --font-0-9: .9rem;
  --font-1: 1rem;
  --font-1-25: 1.25rem;
  --font-1-3: 1.3rem;
  --font-1-5: 1.5rem;
  --font-1-75: 1.75rem;
  --font-1-8: 1.8rem;
  --font-2: 2rem;
  --font-2-25: 2.25rem;
  --font-2-5: 2.5rem;

  // border radius
  --border-r-0-5: .5rem;
  --border-r-0-75: .75rem;
  --border-r-1: 1rem;
  --border-r-1-25: 1.25rem;
  --border-r-1-5: 1.5rem;
  --border-r-1-75: 1.75rem;

  //Font weight
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;


  // shadow
  --button-shadow: 1px 6px 15px #e9e9e9;




}