/*@font-face {*/
/*  font-family: "IRANSans-web-fa";*/
/*  src: url("../fonts/iranSans/IRANSansWeb(FaNum).eot");*/
/*  src: url("../fonts/iranSans/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),*/
/*  url("../fonts/iranSans/IRANSansWeb(FaNum).woff2") format("woff2"),*/
/*  url("../fonts/iranSans/IRANSansWeb(FaNum).woff") format("woff"),*/
/*  url("../fonts/iranSans/IRANSansWebFaNum.ttf") format("truetype");*/
/*}*/

@font-face {
  font-family: 'iranSans';
  src: url('../fonts/iranSans/IRANSansWebFaNum.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "iranSans";
}
