/* Customizations to the designer theme should be defined here */
.p-component {
  font-family: iranSans;
}

.p-dropdown {
  width: auto;
}
.p-menuitem-link{
  border:4px solid #E6DB79;
  border-radius: 4rem;
  width: 130px;
  height: 130px;
}
.p-confirm-dialog-icon{
  padding:15px
}
.p-dialog-footer{
  direction:rtl;
  padding:10px
}
.p-steps .p-steps-item:before {
  display: none;
}
.p-card-content {
  padding: 0;
}

.apexcharts-menu-icon {
  display: none;
}

.p-autocomplete-input {
  width: 100%;
}
.p-datatable-tbody > tr > td {
  text-align: center;
}

.p-datatable .p-column-header-content {
  justify-content: center;
}
.p-tabview .p-tabview-nav li {
  margin-right: 0;
  //width: 600px;
}
.p-dropdown-label{
  font-family: 'iranSans';
  //color:white;
  //background-color:#385e9d;
  border-top-left-radius: 0px;
  border-bottom-left-radius:0px;
}

.p-dropdown-trigger{
  //background-color:#385e9d;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius:6px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  width: 100%;
  font-family: 'iranSans';
}

.p-multiselect-panel{
  direction:rtl;
}
.p-dropdown .p-dropdown-clear-icon {
  color: #6b7280;
  left: 3rem;
  right: unset;
}

.p-datatable-wrapper {
  border-radius: .5rem;
}
.p-datatable .p-sortable-column .p-sortable-column-icon{
  color:white !important;
}
.p-steps-current{
  background-color:#ffff;
}

.p-menu-list {
  padding: 0;
  direction:rtl;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  left: 0.75rem;
  color: #6b7280;
  right: unset;
}

.p-button {
  border-radius: 0.5rem;
}

.p-paginator {
  position: relative;
}

.p-paginator-icon {
  transform: rotateY(178deg);
}

.p-datatable-thead tr th {
  background-color: #385e9d;
  color: #f1f4f6;
}

.p-datatable-header {
  background-color: #ffff;
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
  border: none;
}

.p-menuitem-text {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px
}
.p-menuitem{
  font-size:14px;
  padding:10px 12px 10px 0
}

.p-column-title {
  margin-left: 8px;
  font-size: 14px;
  //color: black;
}

.p-paginator-element {
  background-color: #f0f6f7;
  border-radius: 10px;
  margin: 10px 5px;
}

.p-highlight {
  background-color: #2dcea9;
}

.p-paginator-rpp-options {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #EAEEF3;
  border: none;
  align-items: center;
  padding: 10px;
}

.p-multiselect {
  width: 100%;
}

.p-dropdown-items {
  padding: 0;
  display: flex;
  flex-direction: column;
  direction:rtl;
}

.p-card-subtitle {
  width: 100%;
}

.p.dropdown {
  height: 49px;
  width: 100%;
}

.p-inputtext {
  padding: 8px 10px;
}

.p-inputwrapper-filled {
  height: 49px;
}

.p-dropdown-panel {
  z-index: 10540 !important;
}

.form-control {
  line-height: 1.6rem;
  border-radius: 0.25rem;
}

.p-multiselect {
  height: 2.75rem;
  align-items: center;
  display: flex;
}

tbody > tr:hover {
  border: unset;
  background-color: #f3f9ff;
}

.navbar-vertical.navbar-expand-xs::-webkit-scrollbar {
  display: none;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  font-size: .85rem;
}

.p-dialog .p-dialog-header {
  background: linear-gradient(90deg, #005aa7, #002b4f 34.5%, #002341 64.5%, #005399);
  color:#ffffff;
  direction:rtl
  //border-top-left-radius: 2.5rem;
  //border-top-right-radius: 2.5rem;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1rem;
}
.p-dialog .p-dialog-content {
  background: linear-gradient(180deg, #d4e1f5, #8cade0);
  direction:rtl
}
.p-dialog-header-icon .p-dialog-header-close .p-link{
 color:#ffffff;
}