.header-bottom {
    background: #fff;
    position: relative;
    box-shadow: 0 3.4px 2.7px rgb(0 0 0 / 1%), 0 8.7px 6.9px rgb(0 0 0 / 1%), 0 17.7px 14.2px rgb(0 0 0 / 1%), 0 36.5px 29.2px rgb(0 0 0 / 1%), 0 100px 80px rgb(0 0 0 / 2%);
}

.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: #333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    border-bottom: 0;
}

.main-menu {
    position: relative;
    padding: 0 0 0 0;
    max-width: 1300px;
    margin: 0 auto;
}

.main-menu nav > ul > li {
    position: relative;
    display: inline-block;
}

.main-menu nav > ul > .has-dropdown {
    margin-right: 5px;
}

.main-menu nav > ul > .has-dropdown:last-child {
    margin-right: 0;
}

.main-menu nav > ul > .has-megaitem {
    position: static;
}

.main-menu nav > ul > li > a {
    display: block;
    padding: 6px 6px 3px 6px;
    font-size: var(--font-1-25);
    line-height: 30px;
    color: #fff;
    font-weight: 100;
}

.main-menu nav > ul > li > a:hover {
    color: var(--menu-color);
}

.main-menu nav > ul > li > a .nuxt-link-active .nuxt-link-exact-active {
    color: var(--menu-color);
}

.sub-menu > li > a, .mega-menu-sub > li > a {
    font-weight: 600;
    display: block;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 2px;
    direction: rtl;
    transition: all 0.3s ease 0s;
}

.sub-menu > li > a:hover, .mega-menu-sub > li > a:hover {
    color: var(--menu-color);
    text-decoration: none;
}

.sub-menu > li > a::after,
.mega-menu-sub > li > a::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(0px, -50%);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--menu-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.sub-menu {
    position: absolute;
    min-width: 200px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    right: 0;
    left: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 100%;
    text-align: left;
}

.sub-menu a {
    padding: 8px 0;
    display: block;
    border-bottom: 1px solid #eee;
    margin-bottom: 3px;
    background-color: #fff
}

.sub-menu .has-dropdown {
    position: relative;
}

.sub-menu .has-dropdown .sub-menu-dv {
    position: absolute;
    min-width: 190px;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    left: -96%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 0;
    text-align: left;
}

.sub-menu .has-dropdown .sub-menu-dv li a {
    display: block;
    font-weight: bold;
    color: #212121;
    text-align: right;
    padding: 14px 15px;
    font-size: 12px;
    background-color: #fff;
    margin-bottom: 2px;
}

.sub-menu .has-dropdown:hover .sub-menu-dv {
    opacity: 1;
    visibility: visible;
}

.mega-menu {
    position: absolute;
    min-width: 100%;
    padding: 40px 0;
    background: #FFF;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    transform-origin: 0 0 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9999;
    top: 100%;
    text-align: left;
}

.mega-menu-inner {
    display: flex;

}

.mega-menu-item {
    width: 23%;
    margin: 0 18px;
}

.mega-menu-item-title {
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    background-color: var(--menu-color);
    padding: 7px 0;
    color: #fff;
    border-radius: 5px;
}

.mega-menu-item-title:hover {
    color: #261146;
}

.mega-menu-sub > li {
    display: block;
}

.main-menu nav > ul > li:hover .sub-menu,
.main-menu nav > ul > li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.menu-banner {
    margin-top: 20px;
}

.menu-banner > a {
    display: block;
    width: 100%;
}

.menu-banner img {
    width: 100%;
}

.mobile-header-wrapper {
    padding-top: 0;
    padding-bottom: 25px;
}

.mobile-menu {
    padding: 5px;
    display: block;
    border-radius: 4px;
}

.mobile-menu-dash {
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*****************************
Layout - Offcanvas
*****************************/
.offcanvas {
    z-index: 999999;
    position: fixed;
    top: 0;
    overflow: scroll !important;
    height: 100vh;
    padding: 0 0;
    transition: all 0.3s ease 0s;
    transform: translateX(100%);
    /*box-shadow: none;*/
    background-color: #fff;
    color: #000;
    width: 300px;
    overflow-x: hidden !important;
    -webkit-box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.14);
}

.offcanvas-leftside {
    left: 0;
    transform: translateX(-100%);
    transition: 1s , transform 1s;
}

.offcanvas-rightside {
    right: 0;
    transform: translateX(100%);
    transition: 1s , transform 1s;
}

.offcanvas-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.offcanvas-header {
    margin-bottom: 30px;
    position: absolute;
    left: 13px;
    top: 0;
}

.offcanvas-close {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    border: none;
    color: #000;
}

.offcanvas-close:hover {
    color: #261146;
    border-color: #261146;
}

.offcanvas-title {
    margin-bottom: 40px;
}

/*mobile-menu Top Area*/
.mobile-menu-top {
    justify-content: center;
    flex-direction: column;
    text-align: right;
    display: block;
    padding: 13px 5px 14px 5px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    -webkit-box-shadow: 0 0 8px 0 rgb(128 128 128 / 70%);
    box-shadow: 0 2px 4px 0 rgb(128 128 128 / 70%);
    margin: 0 0;
}

.logo-box {
    justify-content: end;
}

.mobile-menu-user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile-menu-user-menu > li {
    margin-right: 40px;
    position: relative;
}

.mobile-menu-user-menu > li:last-child {
    margin-right: 0;
}

.mobile-menu-user-menu > li::after {
    position: absolute;
    content: "|";
    top: 50%;
    transform: translateY(-50%);
    right: calc(0% - 20px);
}

.mobile-menu-user-menu > li:last-child::after {
    display: none;
}

.mobile-menu-user-menu > li > a {
    display: inline-block;
    line-height: 46px;
    color: #666 !important;
}

.mobile-menu-user-menu > li > a:hover {
    color: #261146;
}

.has-mobile-user-dropdown {
    position: relative;
    padding-right: 15px;
}

.has-mobile-user-dropdown::before {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-weight: 400;
}

.mobile-user-sub-menu {
    position: absolute;
    top: calc(100%);
    left: 50%;
    transform: translate(-50%, -30px);
    padding: 10px 15px;
    width: 160px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.mobile-user-sub-menu > li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.mobile-user-sub-menu > li:last-child {
    border-bottom: none;
}

.mobile-user-sub-menu > li > a {
    position: relative;
    color: #666;
    display: flex;
    align-items: center;
}

.mobile-user-sub-menu > li > a:hover {
    color: #261146;
}

.user-sub-menu-link-icon {
    padding-right: 5px;
}

.has-mobile-user-dropdown:hover .mobile-user-sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

/*Mobile Menu Center Area*/
.mobile-menu-customer-support {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.mobile-menu-customer-support-icon {
    max-width: 50px;
    overflow: hidden;
    margin-right: 30px;
}

.mobile-menu-customer-support-icon img {
    width: 100%;
}

.mobile-menu-customer-support-text-phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    transition: all 0.3s ease 0s;
}

.mobile-menu-customer-support-text-phone:hover {
    color: #261146;
}

.mobile-menu-customer-support-text {
    font-size: 14px;
    margin: 20px 0;
}

.mobile-action-icon {
    display: flex;
    justify-content: center;
}

.mobile-action-icon-item {
    margin-right: 40px;
}

.mobile-action-icon-item:last-child {
    margin-right: 0;
}

.mobile-action-icon-link {
    position: relative;
    font-size: 27px;
    color: #333;
    transition: all 0.3s ease 0s;
}

.mobile-action-icon-link:hover {
    color: #261146;
}

.mobile-action-icon-item-count {
    position: absolute;
    top: 0;
    right: calc(0% - 10px);
    font-size: 11px;
    display: inline-block;
    background: #333;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease 0s;
}

.mobile-action-icon-link:hover .mobile-action-icon-item-count {
    background: #261146;
}

/*Mobile Menu Bottom Area*/
.mobile-menu-bottom {
    position: fixed;
    bottom: 5%;
}


.offcanvas-menu li {
    position: relative;
    padding: 0 0;
}

.offcanvas-menu > ul > li {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
}

.offcanvas-menu > ul > li:last-child {
    border-bottom: none;
}

.offcanvas-menu li a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: right;
    font-size: 13px;
    padding: 8px 20px;
}

.mn-ic {
    width: 18px;
    position: relative;
    top: 1px;
}

.offcanvas-menu .mn-ic {
    float: right;
    margin-left: 10px;
}

.offcanvas-menu li a:hover {
    color: var(--menu-color);
}

.offcanvas-menu .mobile-sub-menu {
    display: none;
    background-color: #f0f0f1;
    padding: 5px 16px 0 16px;
}

.offcanvas-menu-expand::after {
    content: "";
    position: absolute;
    font-family: 'Linearicons-Free';
    left: 20px;
    transition: all 0.3s ease;
    color: black;
    font-size: 12px;
    font-weight: bold;
    top: .5rem;
}

.mobile-sub-menu .offcanvas-menu-expand::after {
    left: 11px;
}

.offcanvas-menu .active > .offcanvas-menu-expand:last-child,
.sub-menu > .active .offcanvas-menu-expand:last-child {
    border-bottom: none;
}

.offcanvas-menu .active > .offcanvas-menu-expand::after,
.sub-menu > .active .offcanvas-menu-expand::after {
    color: #183885;
    content: "\e873";
}

.mobile-menu-email {
    color: #999;
    text-align: center;
    display: block;
}

.mobile-menu-email:hover {
    color: #261146;
}

.mobile-menu-social {
    margin-top: 25px;
    text-align: center;
}

.mobile-menu-social > li {
    display: inline-block;
    margin-right: 13px;
}

.mobile-menu-social > li:last-child {
    margin-right: 0;
}

.mobile-menu-social > li > a {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    color: #FFF !important;
}

.mobile-menu-social > li > a:hover {
    opacity: 0.7;
}

.mobile-menu-social > li > a.facebook {
    background: #4867AA;
}

.mobile-menu-social > li > a.twitter {
    background: #1DA1F2;
}

.mobile-menu-social > li > a.youtube {
    background: #FE0000;
}

.mobile-menu-social > li > a.pinterest {
    background: #BD081B;
}

.mobile-menu-social > li > a.instagram {
    background: #B23A94;
}

.offcanvas-cart-item-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.offcanvas-cart-item-single:last-child {
    margin-bottom: 0;
}

.offcanvas-cart-item-block {
    display: flex;
    align-items: center;
}

.offcanvas-cart-item-image-link {
    width: 90px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-right: 20px;
}

.offcanvas-cart-image {
    width: 100%;
}

.offcanvas-cart-item-link {
    display: block;
    font-weight: 700;
}

.offcanvas-cart-item-details {
    font-family: "Raleway", sans-serif;
}

.offcanvas-cart-total-price {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.offcanvas-cart-total-price-text {
    font-weight: 700;
}

.offcanvas-cart-action-button-list {
    margin-bottom: 25px;
    display: block;
}

.offcanvas-cart-action-button-link {
    display: block;
    background: #000;
    color: #FFF;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
}

.offcanvas-cart-action-button-link:hover {
    background: #261146;
    color: #FFF;
}

.offcanvas-wishlist-item-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.offcanvas-wishlist-item-single:last-child {
    margin-bottom: 0;
}

.offcanvas-wishlist-item-block {
    display: flex;
    align-items: center;
}

.offcanvas-wishlist-item-image-link {
    width: 90px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-right: 20px;
}

.offcanvas-wishlist-image {
    width: 100%;
}

.offcanvas-wishlist-item-link {
    display: block;
    font-weight: 700;
}

.offcanvas-wishlist-item-details {
    font-family: "Raleway", sans-serif;
}

.offcanvas-wishlist-total-price-text {
    font-weight: 700;
}

.offcanvas-wishlist-action-button {
    margin-top: 40px;
}

.offcanvas-wishlist-action-button-list {
    margin-bottom: 25px;
    display: block;
}

.offcanvas-wishlist-action-button-link {
    display: block;
    background: #000;
    color: #FFF;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.offcanvas-wishlist-action-button-link:hover {
    background: #261146;
    color: #FFF;
}

.ov-mn {
    background-color: rgba(0, 0, 0, 0.63);
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    z-index: 999999;
}

.mobile-header-section {
    z-index: 99999;
    position: absolute;
    width: 45px;
    right: 0;
}

.ti-mn {
    display: block;
    font-size: 13px;
    line-height: 1.571;
    padding: 0 20px 10px;
    font-weight: 600;
    color: #484848;
    text-align: right;
}

@media only screen and (max-width: 990px) {
    .main-menu {
        display: none;
    }

    #loginBox, #searchBox, #searchndBox {
        top: 34px;
        width: 300px;
    }

    #s, #s2 {
        display: block;
        width: 78%;
    }

    .btn-se {
        width: 20%;

    }

    .offcanvas-open {
        opacity: 1;
        visibility: visible;
    }

    /*.offcanvas-open {*/
    /*    overflow: hidden;*/
    /*    position: fixed;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*}*/

    .offcanvas.offcanvas-open {
        transform: translateX(0);
        transition: 1s , transform 1s;
    }

    .offcanvas-menu .mobile-sub-menu {
        background-color: #f0f0f1;
        padding: 5px 8px 0 8px;
        transition: 1s , transform 1s;
    }

    #searchContainer {
        top: 4px;
    }

    .logo-box {
        justify-content: start;
    }
}
